{%- assign has_video = false -%}
{%- for block in section.blocks -%}
  {%- if block.type == 'video' and block.settings.video != blank -%}
    {%- assign has_video = true -%}
  {%- endif -%}
{%- endfor -%}
{%- if has_video -%}
  <style>
    #shopify-section-{{ section.id }} {
      --media-grid-row-height: {{ section.settings.mobile_row_height }}px;
      --media-grid-gap: {% if section.settings.spacing == 'xs' %}0.5rem{% elsif section.settings.spacing == 'sm' %}1rem{% elsif section.settings.spacing == 'md' %}1.5rem{% elsif section.settings.spacing == 'lg' %}2rem{% else %}0rem{% endif %};

      {%- if section.settings.section_width == 'full' -%}
        --container-gutter: var(--media-grid-gap);
      {%- endif -%}

      {%- if section.settings.subheading == blank and section.settings.title == blank and section.settings.content == blank and section.settings.section_width == 'full' -%}
        --section-vertical-spacing-override: var(--media-grid-gap);
      {%- endif -%}
    }

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --media-grid-row-height: {{ section.settings.desktop_row_height }}px;
      }
    }

    @media screen and (min-width: 1150px) {
      #shopify-section-{{ section.id }} {
        --media-grid-gap: {% if section.settings.spacing == 'xs' %}0.75rem{% elsif section.settings.spacing == 'sm' %}1.25rem{% elsif section.settings.spacing == 'md' %}1.875rem{% elsif section.settings.spacing == 'lg' %}2.5rem{% else %}0rem{% endif %};
      }
    }
  </style>

  {%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient | default: section.settings.color_scheme.settings.background | md5 -%}

  <div class="section-spacing color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %} ocultar-no-desktop">
    <div class="container {% unless section.settings.section_width == 'full' %}container--{{ section.settings.section_width }}{% endunless %}">
      <div class="section-stack">
        {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, content: section.settings.content -%}

        <media-grid class="media-grid">
          {%- for block in section.blocks -%}
            {%- capture block_content -%}
              <div class="content-over-media color-scheme color-scheme--{{ block.settings.color_scheme.id }} group" reveal-on-scroll="true" style="--content-over-media-overlay: {{ block.settings.overlay_color.rgb }} / {{ block.settings.overlay_opacity | divided_by: 100.0 }};">
                {%- if block.type == 'image' -%}
                  {%- if block.settings.image -%}
                    {%- if section.settings.section_width == 'full' -%}
                      {%- capture sizes_attribute -%}(max-width: 699px) 100vw, {{ 100.0 | divided_by: 12.0 | times: block.settings.column_count | round }}vw{%- endcapture -%}
                    {%- else -%}
                      {%- capture sizes_attribute -%}(max-width: 699px) 100vw, {{ 1260.0 | divided_by: 12.0 | times: block.settings.column_count | round }}px{%- endcapture -%}
                    {%- endif -%}
                    {%- liquid
                      assign loading_strategy = nil
                      if section.location == 'footer'
                        assign loading_strategy = 'lazy'
                      endif
                      echo block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: loading_strategy, sizes: sizes_attribute, widths: '200,300,400,500,600,700,800,1000,1200,1400,1600', class: 'zoom-image group-hover:zoom'
                    -%}
                  {%- else -%}
                    {%- capture collection_image -%}collection-{% cycle '1', '2', '3', '4' %}{%- endcapture -%}
                    {{- collection_image | placeholder_svg_tag: 'placeholder zoom-image group-hover:zoom' -}}
                  {%- endif -%}
                {%- else -%}
                  {%- if block.settings.video -%}
                    <video autoplay muted playsinline loop {% if block.settings.show_controls %}controls{% endif %}>
                      <source src="{{ block.settings.video | file_url }}" type="video/mp4">
                      Seu navegador não suporta vídeo em HTML5.
                    </video>
                  {%- else -%}
                    {%- capture collection_image -%}collection-{% cycle '1', '2', '3', '4' %}{%- endcapture -%}
                    {{- collection_image | placeholder_svg_tag: 'placeholder zoom-image group-hover:zoom' -}}
                  {%- endif -%}
                {%- endif -%}

                {%- if block.settings.title != blank or block.settings.content != blank or block.settings.link_text != blank -%}
                  <div class="prose prose--tight {{ block.settings.text_position }}">
                    <p class="{{ block.settings.heading_tag }}">{{ block.settings.title }}</p>
                    {{- block.settings.content -}}
                    {%- if block.settings.link_text != blank -%}
                      {%- render 'button', content: block.settings.link_text, style: block.settings.link_style -%}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            {%- endcapture -%}

            {%- if block.settings.link_url -%}
              <a href="{{ block.settings.link_url }}" class="media-grid__item" style="--media-grid-item-column-span: {{ block.settings.column_count }}; --media-grid-item-row-span: {{ block.settings.row_count }}" {{ block.shopify_attributes }}>
                {{- block_content -}}
              </a>
            {%- else -%}
              <div class="media-grid__item" style="--media-grid-item-column-span: {{ block.settings.column_count }}; --media-grid-item-row-span: {{ block.settings.row_count }}" {{ block.shopify_attributes }}>
                {{- block_content -}}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </media-grid>
      </div>
    </div>
  </div>
{%- endif -%}
